body{
   background-color: black;
}



.parent {
   display: flex;
   flex-direction: column;
  
}

.top-container {
   display: flex;
}

.left-nav {
   background-color: #2E137A;
   color: white;
   width: 25%;
   padding-top: 30px;
   padding-left: 20px;
}

nav {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

a {
   margin-bottom: 5px;
   color: white;
}

.right {
   background-color: #ebb44c;
   width: 75%;
   padding-left: 20px;
   padding-right: 20px;
}

.destination-form {
   display: flex;
}

.address {
   width: 40%;
}

.fdetails {
   width: 60%;
}

form {
   width: 60%;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-right: auto;
}

h1 {
   text-align: center;
   color: white;
}

.contact {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}

button {
   background-color: gray;
}

.footer {
   background-color: black;
   color: white;
   text-align:end;
   height: 20px;
}
