body {
    padding: 0;
    margin: 0;
 }
 
 .Parent {
    display: flex;
    flex-direction:row;
    background: rgb(68, 67, 67);
    box-sizing: border-box;
 }
 
 .child1 {
    width: 32%;
    height: 140vh;
    background-color:rgba(45, 15, 215, 0.344);
    text-align: right;
    color: rgb(153, 12, 247);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-block-start: 20px;
    margin-right:-20px;
 
 }
 .child2 {
    width: 80%;
    height: 140vh;
    background-color:rgba(252, 241, 37, 0.975);
    text-align: right;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-block-start: 20px;
 
 }
 .child2 {
    width: 80%;
    height: 140vh;
    background-color:rgba(252, 241, 37, 0.975);
    text-align: right;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-block-start: 20px;
 